# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend
ecommerceEthereum/.env
env/*
ecommerceEthereum/media/*
ecommerceEthereum/ecommerceEthereum/__pycache__/*
ecommerceEthereum/ecommerce/__pycache__/*
ecommerceEthereum/ecommerce/migrations/*